body, html {
	padding:0;
	margin:0;
	font-family: "Slate Pro",Slate,"Myriad Pro","BBAlpha Sans",Helvetica;
	overflow:visible;
	user-select: none;
	-webkit-user-select: none;
}
input{
	font-family: "Slate Pro",Slate,"Myriad Pro","BBAlpha Sans",Helvetica !important;
	letter-spacing: 3px;
}
h2{
	font-size: 3em;
	color: #263849;
	text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
	font-family: "Slate Pro",Slate,"Myriad Pro","BBAlpha Sans",Helvetica;
}
#main-title{
	color: #ffc14e;
	font-size: 5em;
	text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
}
#list-empty-message{
	height: 100%;
	color: #263849;
	padding: 1em;
	font-size: 5em;
	text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
	font-family: "Slate Pro",Slate,"Myriad Pro","BBAlpha Sans",Helvetica ;
}
.item-selector{
	padding-left: 0.1em;
}
.header-icon{
	padding: 0.2em;
	float: left;
	position: relative;
	bottom: 0.15em
}
.header-title{
	font-family: "Slate Pro",Slate,"Myriad Pro","BBAlpha Sans",Helvetica ;
}
p#bubble{
	position: relative;
	padding: 15px;
	margin: 0.5em;
	font-size: 5.5em;
	font-family: "Slate Pro",Slate,"Myriad Pro","BBAlpha Sans",Helvetica ;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#00e400), to(#009800)) !important;
	text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
p#bubble::after {
	content: "";
	position: absolute;
	bottom: -50px;
	right: 50px;
	border-width: 75px 75px 0;
	border-style: solid;
	border-color: #009800 transparent;
	display: block;
	width: 0;
}