html, body{
	font-family: Arial, Helvetica, sans-serif;
}
#main-title{
	color: #ffc14e;
	font-size: 5em;
	text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
}
.header-icon{
	padding: 0.2em;
	float: left;
	position: relative;
	bottom: 0.15em
}
.header-title{
	font-family: Segoe UI, Arial, Helvetica, sans-serif !important; 
}
p#bubble{
	position: relative;
	padding: 15px;
	margin: 0.5em;
	font-size: 5em;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
p#bubble::after {
	content: "";
	position: absolute;
	bottom: -50px;
	right: 50px;
	border-width: 75px 75px 0;
	border-style: solid;
	border-color: #f3961c transparent;
	display: block;
	width: 0;
}
.complete{
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#00e400), to(#009800)) !important;
}
.incomplete{
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff4f4f), to(#d80000)) !important;
}